/* General Body Styling */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -10px;
    padding: 0;
    background: linear-gradient(135deg, #f7f7f7, #fcfcfc, #ffffff);
    overflow-x: hidden
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .contact-section {
        max-width: 900px;
        margin: 0 auto;
    }

    .contact-form {
        padding-right: 20px;
    }

    .contact-info {
        padding-left: 20px;
    }
}

/* ---------------------------------------------------------------------------------------------- */

/* Adjust for mobile */
@media (min-width: 768px) {
    .contact-section {
        max-width: 900px;
        margin: 0 auto;
    }
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .profile-card {
        padding-right: 3rem;
    }

    .header-title {
        font-size: 3rem;
    }
}
