/* Additional Content Section */
.additional-content {
    text-align: center;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.additional-content h2 {
    font-size: 1.5rem;
    color: #7047bb;
    margin-bottom: 1rem;
}

.additional-content p {
    color: #FF7043;
    font-size: 1rem;
    line-height: 1.6;
}