/* Base state for hidden sections */
.fade-in-section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 3s ease-out;
    visibility: hidden;
  }
  
  /* Scroll down animation */
  .fade-in-down {
    transform: translateX(100px); /* Offset position for downward animation */
  }
  
  .fade-in-down.is-visible {
    opacity: 1;
    visibility: visible;
    transform: none; /* Reset transform to ensure alignment */
  }
  
  /* Scroll up animation */
  .fade-in-up {
    transform: translateX(-100px); /* Offset position for upward animation */
  }
  
  .fade-in-up.is-visible {
    opacity: 1;
    visibility: visible;
    transform: none; /* Reset transform to ensure alignment */
  } 