.wrappingExp {
    background: linear-gradient(135deg, #f7f7f7, #fcfcfc, #ffffff);
    width: 100%;
}
.experience-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 30px 20px;
    /* background-color: white; */
}
.experience-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #00897B;
    margin-bottom: 40px;
}
.timeline {
    position: relative;
}
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #563692;
    transform: translateX(-50%);
}
.timeline-item {
    position: relative;
    width: 80%; /* Increase width from 50% to 45% */
    padding: 20px 30px; /* Adjust padding if necessary */
    box-sizing: border-box;
}
.timeline-item-left {
    left: -30%;
    text-align: right;
}
.timeline-item-left::before {
    right: -20px;
}
.timeline-item-right {
    left: 50%;
    text-align: left;
}
.timeline-item-right::before {
    left: -20px;
}
.timeline-year {
    font-size: 14px;
    font-weight: 700;
    color: #FF7043;
}
.timeline-role {
    font-size: 16px;
    font-weight: 500;
    color: #7047bb;
}
.timeline-company {
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
    color: #00897B;
}
.timeline-description {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
    line-height: 1.6;
}

/* Left-aligned logo for timeline items on the left */
.company-logo-left {
    float: right;
    margin-left: 10px;
    width: 70px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
}

/* Right-aligned logo for timeline items on the right */
.company-logo-right {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    width: 70px; /* Adjust size as needed */
    height: auto;
}