/* Footer Copyright */
.footer {
    /* background: linear-gradient(-135deg, #a0d6cb, #4db6ac, #00796b); */
    background: linear-gradient(135deg, #CDC3E7, #B39DDB, #A288D1);
    padding-top: 40px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-copyright p {
    font-size: 14px;
}

.footer a {
    color: #B2DFDB;
    text-decoration: none;
}

.footer a:hover {
    color: #DC143C; /* Darker color on hover */
    text-decoration: underline;
}