/* Header Section with Background Image (below navbar) */
.header {
    height: 400px;
    background: linear-gradient(135deg, #a0d6cb, #4db6ac, #00796b);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: -1px; /* Ensures no gap between navbar and header */
    max-width: 100%;
    width: auto;
}

.navbar-custom {
    color: #563692;
    padding: 1rem 0;
    background-color: transparent; /* Set transparent by default */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
}

.navbar h1 {
    white-space: nowrap;  /* Prevents line breaks */
    font-size: 2rem;      /* Adjust size as needed to fit */
    text-align: center;   /* Centers text if needed */
    margin: 0;       /* Centers within the container */
    display: inline-block; /* Allows control over spacing */
    padding-left: 20px;
}

.navbar-custom .nav-link {
    color: #E0F2F1 !important;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 20px;
    text-transform: uppercase;
}

.navbar-custom .nav-link:hover {
    color: #FF7043 !important;
}

.navbar-custom.scrolled {
    /* background: linear-gradient(135deg, #a0d6cb, #4db6ac, #00796b); */
    background: linear-gradient(135deg, rgba(160, 214, 203, 0.8), rgba(77, 182, 172, 0.8), rgba(0, 121, 107, 0.9));
}
