.expertise-section {
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.expertise-title {
    font-size: 32px;
    font-weight: bold;
    color: #00897B;
    margin-bottom: 40px;
}

.expertise-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.expertise-item {
    /* background-color: #ffffff; */
    /* background: linear-gradient(135deg, #D1C4E9, #E0D9EF, #C8BEE2); */
    background: linear-gradient(135deg, #E8E3F2, #F2EDF7, #DED4EC);

    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border-radius: 5px; */
    flex-basis: calc(25% - 20px); /* Each item takes one-quarter width with some margin */
    height: 450px;
    text-align: left;
    color: #00897B;
    position: relative;
    transition: transform 0.6s ease, box-shadow 1s ease;
}

.expertise-item:hover {
    transform: scale(1.05);
}

.expertise-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #FF7043;
    margin-bottom: 10px;
}

.expertise-item p {
    font-size: 16px;
    color: #7047bb;
    line-height: 1.6;
}

.icon-link {
    font-size: 3rem; /* Adjust size as needed */
    text-decoration: none;
    margin-left: 8px; /* Space between GitHub and PDF icons */
}

.github-link {
    position: absolute;
    bottom: 10px;
    right: 60px; /* Adjust this to position the GitHub icon a bit to the left */
}

.pdf-link {
    position: absolute;
    color: #DC143C;
    bottom: 10px;
    right: 15px; /* Positions the PDF icon just to the left of the GitHub icon */
}

.icon-link:hover {
    color: #00897B; /* Change color on hover */
}

.github-link:hover {
    color: #00897B; /* Change color on hover */
}